<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width , initial-scale = 1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">
</head>
<body>
<!--导航部分-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">Blog</h1>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="serach..">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right  m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间部分-->
<div class="m-padded-huge m-padded-tb-huge">
    <div class="ui container ">
        <div class="ui top attached segment ">
            <div class="ui  eleven wide column">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://picsum.photos/id/237/20/20" alt="" th:src="@{${blog.user.avatar}}"
                             class="ui avatar image">
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">小李</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2018-1-1</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i><span th:text="${blog.views}">1551</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="ui attached segment">
            <img src="https://picsum.photos/id/237/536/354" th:src="@{${blog.firstPicture}} " alt=""
                 class="ui rounded fluid image">
        </div>
        <div class="ui attached segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">刻苦学习的界限</h2>
            <div id="content" class="m-padded-tb-large-responsive" th:utext="${blog.content}">
                <p>成功的诀窍就是一成不变的目标 -----拿破仑</p>
            </div>
            <!--标签-->
            <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">认知学习</div>
            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button id="payButton" class="ui basic circular orange button">赞赏</button>
            </div>
            <div class="ui flowing popup transition hidden">
                <div class="ui basic orange label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                                 class="rounded bordered image" style="width: 120px">
                            <div>支付宝</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                                 class="rounded bordered image" style="width: 120px">
                            <div>微信</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached positive message">
            <!--博客信息-->
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：<span th:text="${blog.user.nickname}">李仁密</span><a href="#" th:href="@{/about}"
                                                                                  target="_blank">（联系作者）</a></li>
                        <li>发表时间：<span
                                th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2017-10-02 09:08</span>
                        </li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui right floated rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>

        <!--留言-->
        <div class="ui bottom segment">
            <div class="ui attached segment " id="comment-container">
                <div th:fragment="commentList">
                    <div class="ui threaded comments">
                        <div class="comment" th:each="comment :${comments}">
                            <a class="avatar">
                                <img src="https://picsum.photos/id/237/20/20" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author" th:text="${comment.nickname}">Matt</a>
                                <div class="ui mini basic teal left pointing m-padded-mini label" th:if="${comment.adminComment}">博主
                                </div>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                       th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"
                                       onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComment)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComment}">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/id/237/20/20" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}" >Matt</span>&nbsp;
                                            <div class="ui mini basic teal left pointing m-padded-mini label" th:if="${reply.adminComment}">博主</div>
                                            <span th:text="|@ ${reply.parentComment.nickname}|">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                               th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"
                                               onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="ui dividing header">评论</h3>
                    </div>
                </div>
            </div>
                <div class="ui form" id="comment-form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" th:value="-1">
                    <div class="field">
                        <label>
                            <textarea name="content" placeholder="请输入评论.."></textarea>
                        </label>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名" th:value="${session.user}!=null ? ${session.user.nickname}">
                            </div>
                        </div>
                        <div class="field m-mobile-wide">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}">
                            </div>
                        </div>
                    </div>
                    <button class="field ui blue labeled submit icon button m-mobile-wide" id="commentpost-btn"
                            type="button"><i class="icon edit"></i> 发送
                    </button>
                </div>
        </div>
    </div>
</div>

<!--有下角悬浮工具-->
<div class="m-padded  m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui teal button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="ui icon button"><i class="weixin icon"></i></button>
        <a href="#" class="ui icon button"><i class="chevron up icon"></i></a>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted  divided stackable grid">
            <div class="three wide column">
                <div class="ui list">
                    <div class="ui item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="m-opacity-mini item">用户故事</a>
                    <a href="#" class="m-opacity-mini item">用户故事</a>
                    <a href="#" class="m-opacity-mini item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="m-opacity-mini item">微信</a>
                    <a href="#" class="m-opacity-mini item">qq</a>
                    <a href="#" class="m-opacity-mini item">李嘉绪</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">网站介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我自己做的网站，希望能一点一点认真完成，还有后台部分。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2020-2021 by lijiaxu</p>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

<script th:inline="javascript"> //加上inline 下面 /* */才有效
$('.menu.toggle').click(
    function () {
        $('.m-item').toggleClass('m-mobile-hide');
    }
);

// var serverurl = "http://127.0.0.1:8080"
// var url = /*[[@{/blog/{id=${blog.id}}}]]*/"";
// var qucode = new QRCode(
//     "qrcode",{
//         text:serverurl+url,
//         width:110,
//         height:110,
//         colorDark: "#000000",
//         correctLevel: QRCode.CorrectLevel.H
//     }
// );

$('#payButton')
    .popup({
        popup: $('.flowing.popup'),
        position: "top center",
        on: 'click'
    });
//评论表单验证
$('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论'
                }]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的名字'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请输入你的邮箱'
                }]
            },
        }
    }
);
$('#commentpost-btn').click(function () {
    var boo = $('.ui.form').form('validate form'); //调用非空校验，返回true成功
    if (boo) {
        console.log('校验成功');
        postData();
    } else {
        console.log('校验失败');
    }
});

$(function () {
    $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"commnets/6");
});

function postData() { //提交后刷新
    $("#comment-container").load(/*[[@{/comments}]]*/"", { //只刷新fragment部分
        "parentComment.id": $("[name = 'parentComment.id']").val(), //设置value属性
        "blog.id": $("[name = 'blog.id']").val(),
        "nickname": $("[name = 'nickname']").val(),
        "email": $("[name = 'email']").val(),
        "content": $("[name = 'content']").val()
    }, function (responseTxt, statusTxt, xhr) {   //回调方法
        // $(window).scrollTo($('#comment-container'), 500);//跳转到刚刚评论的内容
        clearContent();
    })
}

function clearContent() {   //提交后清空评论区
    $("[name = 'content']").val('');
    $("[name = 'parentComment.id']").val(-1);
    $("[name='content']").attr("placeholder", "请输入评论..");
}


function reply(obj) {   //回复显示@nickname
    var commentId = $(obj).data('commentid');  //自定义属性data-commentid
    var commentNickname = $(obj).data('commentnickname');
    $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
    $("[name='parentComment.id']").val(commentId);
    $(window).scrollTo($('#comment-form'), 500)
}
</script>
</body>
</html>